<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="telemetryUrl" value="http://hostname/api/telemetry"/>
    <add key="applicationName" value="telemetry-js" />
  </appSettings>
</configuration>
